<div class="container">
  <!-- BARRA LATERAL -->
  <div class="sidebar">
      <div class="header-sidebar">
        <span>AUGERE</span>
      </div>
      <div class="home">
        <img src="../assets/hogar.png" alt="Home" class="icon-home">
        <span class="text">Home</span>
      </div>
  </div>
  <div class="main-content">
    <!-- HEADER DEL USUARIO -->
    <app-header-user>
    </app-header-user>
    <!-- RESULTADOS DEL TEST -->
    <app-result-test>
    </app-result-test>
  </div>
</div>